:root {
    --bleu:#3596FD;
    --jaune:#F0C808;
    --orange:#FF8811;
    --whitesmoke:#F5F5F5;
    --almostblack:#1D1D1B;
    --poppins:(font-family: 'Poppins', sans-serif;)
    --montserrat:(font-family: 'Montserrat', sans-serif;)
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--poppins);
}

p {
    font-family: var(--montserrat);
}

/* navbar */ 

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link {
    color: var(--almostblack);
}

